.botao{
    margin-top: 20px;
  
    background-color: #9885F0;
    color: white;
    border-radius: 8px;
    font-weight: 200;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}
.botao:hover{
    transform:scale(1.1);
}