.estatistica{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}

.valor{
    display: flex;
    height: 90px;
    width: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
}
.texto{
    text-align: center;
}